html{
	box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
	line-height: 1.15;
}
header.цэс{
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
	display: flex;
	text-decoration: none;
	
}
.цэст{
	display:inherit;
	padding-left: 19px;
    padding-right: 21px;
	padding-top : 18px;
	padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
}
.цэс2{
	padding-left: 20px;
    padding-right: 100px;
	padding-top: 2px;
	padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
	height: 40px;
}
a.цэс3{
	 color:#61dafb;
	 text-decoration: none;
}
span.цэс4{
	font-size: 20px;
	color: inherit;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 700;
    line-height: 20px;
	
}
.цэс5{
	padding-left: 20px;
	padding-top: 2px;
	flex: 1;
}
.цэс6{
	color:white;
	padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
.цэс7{
	color:white;
	padding-left: 15px;
    padding-right: 20px;
    font-size: 18px;
}
.цэс8{
	color:white;
	padding-left: 10px;
    padding-right: 20px;
    font-size: 18px;
}
.цэс9{
	color:white;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 18px;
}
.цэс10 {
	display: flex;
	min-width: 10px;
    }
.цэс10-1{
    width: 100%;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    padding: 4px 4px 8px 29px;
    background-image: url(https://reactjs.org/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
}
a {
	color: inherit;
    text-decoration: none;
	background-color: transparent;
}
.цэс11{
    padding-top: 5px;
	display: flex;
    width: auto;
    align-items: top;
}
.цэс12{
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
}
.цэс13{
    display: flex;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
    -webkit-box-align: center;
}
.цэс14{
    fill: currentColor;
}
.цэс15{
	margin-left: 0.5rem;
}
.цэс16{
	padding: 5px 10px;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 14px;
}
.цэс17{
	margin-left: 5px;
    vertical-align: -2px;
    color: #6d6d6d;
}
.цэс6:hover{
    color:#61dafb;
}
.цэс7:hover{
    color:#61dafb;
}
.цэс8:hover{
    color:#61dafb;
}
.цэс9:hover{
    color:#61dafb;
}
.цэс12:hover{
    color:#61dafb;
}
.цэс13:hover{
    color:#61dafb;
}
.цэс16:hover{
    color:#61dafb;
}